/*-----------------------------------*\
  #PRELOAD
\*-----------------------------------*/

:root{

--dark-grey: #2c2e31;

--blue: #487ed2;

--light-grey: #f4f4f5;

--medium-grey: #e4e3e6;

--blue-grey: #7083a3;

}


body{
    font-family: 'IBM Plex Serif', serif;
    color: var(--dark-grey);
    color:#2c2e31;    /* default fallback style */
    overflow-x: hidden;
     
}

.navbar-brand img{
    width:8rem;
    
}

nav{
    background: var(--dark-grey);
    background:#273150;
    
}

.navbar-icon i{
    color: var(--blue);
    color: #0a306c;
   
}

.navbar-icon .fas{
    font-size:2.2rem;
}

.navbar-toggler{
    outline-color: var(--blue)!important;
}

.nav-link{
    font-size:1.3rem;
    color:#e7cc73;
    margin:0 1.2rem;
    
}


.nav-link:hover{
    color: var(--blue);
    color: #487ed2;
}

.nav-icon{
    font-size: 2rem;
    padding:0.5rem;
    transition: color 1s ease-in-out;
}

.nav-icon:hover{
    color: var(--blue-grey);
    color: #7083a3;
}

/* Toggle btn  */

.toggler-btn{
    border: 2px solid var(--blue-grey);
    padding:0.3rem;
    transition: all 2s ease;
    
}

.bar{
    width:1.8rem;
    height:3px;
    margin:0.3rem;
    background: var(--blue);
    transition: all 0.4s ease;

}

.change .bar1{
    transform: rotate(-30deg) translate(-5px, -2px);
}

.change .bar2{
    opacity:0;
}

.change .bar3{
    transform: rotate(30deg) translate(-5px, 2px);
}



.header{
    color: var(--light-grey);
    color: #e9eaef;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95% );
    overflow:hidden;
    
}

.header h1{
    font-family: 'Righteous', cursive;
    font-size:5.8rem;
    color:var(--blue);
    color: #e7cc73;
    letter-spacing: 3.2px;
    
    
    
}

.header h1::after{
    content:"";
    display: block;
    border-bottom: 7px solid var(--blue);
    border-bottom: 7px solid #487ed2;
    margin: 0 auto;
    width: 50%; 
    padding-top: 0rem;
}

.header h2{
    font-size:1.4rem;
    width:80%;
    letter-spacing: 1px;
    margin-top: 0rem;
    line-height: 3rem;
}


.header a{
    background-color: rgba(44,46,49,0.59);
    color:var(--light-grey);
    margin-top: 2rem;
    padding:0.8rem;
    border:2px solid #44474b;
    transition: all 1s ease-in-out;
    font-size:1.1rem;
    -webkit-box-shadow: 6px 4px 7px -2px rgba(0,0,0,0.87); 
    box-shadow: 6px 4px 7px -2px rgba(0,0,0,0.87);
}

.header a:hover{
    background: transparent;
    border-color: var(--blue);
    box-shadow: none;   
   
}


.height-max{
    min-height:100vh;
    background: linear-gradient(
           to right,
           rgba(95, 95, 97, 0.5), /* Dark blue */
           rgba(59, 59, 117, 0.5)  /* Navy blue */
       ),
    url('../img/header.jpg') center top fixed;
    background-size: cover ;
    background-repeat: no-repeat;
    animation-name: zoom;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-iteration-count: 3;

}

@keyframes zoom{
    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.2) translate(-5%);
    }

    100%{
        transform: scale(1);
    }
}

h1.font-weight-bold{
    font-size:4rem !important;
}
#About h1 span{
    color: var(--blue);
    margin-bottom: 40px;
    }
#About {
    justify-content: center;
    text-align: center;
    background-color: #f8f9fa; /* Light background color */
    padding: 20px; /* Padding for better responsiveness */
}
#About{
    background: linear-gradient(
           to right,
           rgba(159, 170, 243, 0.8),
           rgba(244,244,245,0.7)
       )
}
#Contact{
    background: linear-gradient(
           to right,
           rgba(159, 170, 243, 0.8),
           rgba(244,244,245,0.7)
       )
}
.About-heading {
  text-align: center;
  font-size: 2.5rem; /* Adjust size as needed */
  margin-bottom: 4rem; /* Space below the heading */
}
#About p {
    text-align: center;
    max-width: 700px; /* Limit the width of the text for readability */
    font-size: 1.2em;
    line-height: 1.5em;
}
@media (max-width: 768px) {
    #About p {
        width: 100%; /* Make the paragraph width responsive */
        margin-left: 0;
        margin-right: 0;
    }
}
#promise{
    background: linear-gradient(
           to right,
           rgba(159, 170, 243, 0.8),
           rgba(244,244,245,0.7)
       ),
    url('../img/service.jpg') center top fixed;
    background-size: cover ;
    background-repeat: no-repeat;
    color:var(--dark-grey);
}

#promise h1 span{
color: var(--blue);
}

.promise-icon{
    font-size:1.5rem;
    color: #e7cc73;
    background: #273150;
    
}

.promise-icon:hover{
    color: var(--blue-grey);
}

.promise-underline{
    width:4rem;
    height:0.3rem;
    background:var(--blue);
    margin: 1rem auto;
}

.anim{
    transition: all 2s ease;
}

.card-footer span{
    margin-right:0.2rem;
}
#featured{
    background: linear-gradient(
           to right,
           rgba(159, 170, 243, 0.8),
           rgba(244,244,245,0.7)
       )
}


#featured h1 span{
color:var(--blue);
}

.featured-item{
    background: var(--medium-grey);
    border-radius: 0.4rem;
    opacity:0.8;
    transition: all 1s ease-in-out;
}

.featured-item:hover{
    opacity:1;
    transform: scale(1.05);
    
}

.featured-icon{
    font-size:1.6rem;
    padding-right:0.3rem;
    color:var(--blue);
    color: #273150;
    transition: all 0.5s ease-in-out;
    cursor:pointer;
}

.featured-icon:hover{
    color:var(--blue-grey);
}

.img-container{
    background:var(--blue);
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

.featured-image{
    transition: all 1s ease-in-out;
}

.img-container:hover .featured-image{
    transform: scale(1.4);
    opacity:0.5
}

.featured-link {
    position: absolute;
    top:50%;
    left:50%;
    font-size: 3.5rem;
    color:var(--dark-grey);
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.featured-link:hover{
    color:var(--light-grey);
    
}

.img-container:hover .featured-link{
    opacity:1;
   
}

#service{
    background: linear-gradient(
           to right,
           rgba(159, 170, 243, 0.8),
           rgba(244,244,245,0.7)
       ),
    url('../img/service.jpg') center top fixed;
    background-size: cover ;
    background-repeat: no-repeat;
    color:var(--dark-grey);
}

#service h1 span{
    color: var(--blue);
    }
    
    .service-icon{
        font-size:1.5rem;
        color: #e7cc73;
        background: #273150;
        
    }
    
    .service-icon:hover{
        color: var(--blue-grey);
    }
    
    .service-underline{
        width:4rem;
        height:0.3rem;
        background:var(--blue);
        margin: 1rem auto;
    }



#footer{
    background: #273150;
    
}


.footer-icon{
    font-size: 1.8rem;
    text-decoration: none;
    padding: 0 0.4rem;
    color: var(--blue);
    transition: all 1s ease-in-out;
}

.footer-icon:hover{
    color: var(--blue-grey);
    text-decoration: none;

}
#footer p{
    font-size:1rem;
    margin-top: 0.8rem;
   
    
}


/* large screens  */
@media (min-width: 1200px) { 

    .header h1{      
        font-size:3.5rem;
    }

    .header h2{
        font-size:2rem;
        text-transform: uppercase;
    }

    h1.font-weight-bold{
        font-size:2.5rem !important;
    }
    

    #catalogue{     
        clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95% );     
        
    }

    #footer p{
        padding-left: 6rem;
    }

    .footer-icons{
        padding-left: 2.8rem;
    }

    
 } 

 /* small screens*/

 @media (max-width: 767px) { 

    .footer-icons{
        padding-left:25%;
    }

    #footer p{
        padding-left:25%;
    }
 }
 /* Preloader container */
.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:linear-gradient(to right, #DFBD69, #e9e6d8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  /* Circular container */
  .circle {
    width: 250px; /* Adjust size as needed */
    height: 250px; /* Adjust size as needed */
    border-radius: 70%; /* Creates a circular shape */
    background-color: #273150; /* White background for circle */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Logo inside the circle */
  .circle img {
    max-width: 80%; /* Ensure the logo fits well inside the circle */
    max-height: 80%; /* Ensure the logo fits well inside the circle */
  }
  
  /* Optional: Animation for the circle */
  .circle {
    animation: rotate360 5s linear infinite;
  }
  
  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .preload.loaded {
    opacity: 0;
    pointer-events: none; /* Disable pointer events to allow interaction with underlying content */
  }
  .preload .text {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px var(--eerie-black-3);
    animation: loadingText linear 2s infinite;
  }
  /*-----------------------------------*\
  #contact
\*-----------------------------------*/
/* Container for stacking elements in a single column */
#Contact h1 span{
    color: var(--blue);
    }
#Contact {
    justify-content: center;
    text-align: center;
    background-color: #f8f9fa; /* Light background color */
    padding: 20px; /* Padding for better responsiveness */
}
.contact-heading {
  text-align: center;
  font-size: 2.5rem; /* Adjust size as needed */
  margin-bottom: 1rem; /* Space below the heading */
}
.formcarry-container * {
    box-sizing: border-box;
      font-family: "Inter", sans-serif;
  
    /* colors */
    --color-blue: #2552d0;
    --color-light-blue: #3266e3;
    --color-gray: #e5e7eb;
    --color-dark-gray: #9da3ae;
    --color-pink: #edadd2;
  }
  
  .formcarry-container {
    /* container */
    --c-width: 50%;
    --c-max-width: 500px;
  
    width: var(--c-width);
    max-width: var(--c-max-width);
    display: block;
    margin: 10vh auto 0 auto;
  }
  
  .formcarry-form label {
    display: block;
    padding: 12px 0 2px 0;
    letter-spacing: -0.2px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
  }
  
  .formcarry-form input,
  .formcarry-form textarea {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #273150;
    border: none;
    border: 4px solid #fbf9f5;
    outline: none;
    border-radius: 8px;
    color: var(--color-dark-gray);
  }
  
  .formcarry-form input:focus,
  .formcarry-form textarea:focus {
    background-color: #fff;
    color: var(--color-light-blue);
  }
  
  .formcarry-form input:focus:required:invalid {
    border-color: var(--color-light-blue);
    background-color: #fff;
  }
  
  .formcarry-form button {
    display: block;
    margin-top: 12px;
    width: 100%;
    padding: 12px 20px;
    border-radius: 8px;
      border-color: transparent;
    background-color: #e7cc73;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
  
    transition: 300ms all;
  }
  
  .formcarry-form button:hover {
    background-color: var(--color-light-blue);
  }
  
  .formcarry-alert {
    padding: 12px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    display: none;
  }
  
  .formcarry-alert.visible {
    display: block;
  }
  
  .formcarry-alert.success {
    background: #69cf9d;
  }
  
  .formcarry-alert.error {
    background: #de524c;
  }
  @media (max-width: 600px) {
    .formcarry-container {
        margin: 0; /* Remove margin on mobile */
        padding: 0 0px;
        width: 100%; /* Add some padding for better readability */
    }
  }